@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


body{
    margin: 0px;
    padding: 10px;
    background:url(../img/degradado.png),rgba(0,0,0,0.1);
	background-repeat:repeat-x;

}

p, h1, h3 {

	text-align: center;
}

h1 {

	font-family: 'Lato', normal;
	color: white;
	text-shadow:0px 4px 8px rgba(0,0,0,0.4);
}

h2 {
	font-family: 'Lato', light 300;
	color: black;
	text-shadow:0px 4px 8px rgba(0,0,0,0.4);
}

h3 {

	font-family: 'Lato', normal;
	color: black;
	text-shadow:0px 4px 8px rgba(0,0,0,0.4);
}




* {
	border: 1px solid red !important;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.grid {
	margin: 0 auto;
	max-width: 960px;
	width:100%
}

.row {
	width: 100%;
	/*margin-bottom:0px;
	display: flex; flex-wrap: wrap;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;*/
	display: flex;
	/*display: block;*/
	/*display: float;*/
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width:16.66%
}
.col-3 {
	width:25%
}
.col-4 {
	width:33.33%
}
.col-5 {
	width:41.66%
}
.col-6 {
	width:50%
}
.col-7 {
	width:58.33%
}
.col-8 {
	width:66.66%
}
.col-9 {
	width:75%
}
.col-10 {
	width:83.33%
}
.col-11 {
	width:91.66%
}
.col-12 {
	width:100%;

}



#logo {
     
    width: 20%;
	height:100px;
	min-width: 95px;
	/*background-size: 100% 100%;*/
	float:left;
	box-shadow:0px 10px 25px rgba(0,0,0,0.4);
}

#banner {

	width:100%;
	height:400px;
	border:0px solid black;
	/*background:url(../img/imagebanner.JPG);*/
	box-shadow:0px 10px 25px rgba(0,0,0,0.4);
}

#imagebanner {

	width: 100%;
	max-height: 400px;
	box-shadow:0px 10px 25px rgba(0,0,0,0.4);

}

.image {

	width: 100%;
	max-height: 200px;
	box-shadow:0px 10px 25px rgba(0,0,0,0.4);
}

.image:hover {

	opacity: 0.6;
}
@media only screen and (max-width: 500px)  { 


body{

	display: flex;
}
.row {
  display: flex;
  flex-direction: column;
  width: 100%;
	}

/*
#bannerow, #footerheadrow, #footerbodyrow{
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    
    padding-right: 6.25%;
    padding-left: 6.25%;
    width: 100%;


}*/


 .col-4 {
	width: 33.33%;
	 

	}
.col-12 {

	width: 33.33%;

}

.col-6 {

	width: 33.33%;
}

 #banner {
    width: 33.33%;
 	height: 80px;
 }

 #image {
     
     width: 33.33%;
 	height: 100px;
 }

.pad-left {

	padding-left: 6.25%;

}

.pad-right {

	padding-right: 6.25%;
	
}

hr {

	border: none;
	height: 8px;
	padding: 0;
}
.text-center {

	text-align: center;
}

.text-medium {

	font-size: 14px;
}

}


/*
#contienebanner{
padding:10px;
background:rgba(255,255,255,0.6);
}*/


