@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


body{
    margin: 0px;
    padding: 10px;
    background:url(../img/degradado.png),rgba(0,0,0,0.1);
	background-repeat:repeat-x;

}

p, h1, h2, h3 {

	text-align: center;
}

h1 {

	font-family: 'Lato', normal;
	color: white;
	text-shadow:0px 4px 8px rgba(0,0,0,0.4);
}

h2 {
	
	font-family: 'Lato', light 300;
	color: black;
	text-shadow:0px 4px 8px rgba(0,0,0,0.4);
}

h3 {

	font-family: 'Lato', normal 700;
	color: black;
	text-shadow:0px 4px 8px rgba(0,0,0,0.4);
}




* {
	border: 1px solid red !important;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.grid {
	margin: 0 auto;
	
	max-width: 500px;
	width:100%;
}

.row {
	width: 33.33%;
	margin-bottom:0px;
	display: flex; 
	flex-wrap: wrap;
	flex-direction: column;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	
	/*display: block;*/
	/*display: float;*/
}



.col-4 {
	width:100%;
}
.col-6 {
	width:100%;
}



.col-12 {
	width:100%;

}



#logo {
     
    width: 33.33%;
	height:200px;
	min-width: 100px;
	background-size: 100% 100%;
	float:left;
	box-shadow:0px 10px 25px rgba(0,0,0,0.4);
}

#banner {

	width:33.33%;
	height:200px;
	border:0px solid black;
	/*background:url(../img/imagebanner.JPG);*/
	box-shadow:0px 10px 25px rgba(0,0,0,0.4);
}

#imagebanner {

	width: 100%;
	max-height: 300px;
	box-shadow:0px 10px 25px rgba(0,0,0,0.4);

}

.image {

	width: 100%;
	max-height: 400px;
	box-shadow:0px 10px 25px rgba(0,0,0,0.4);
}

.image:hover {

	opacity: 0.6;
}




